:root{
    --primary-color: rgb(252, 248, 240);
    --hover-color: #F67E14;
    --text-color: #333;
    --white-color: #fff;
    --black-color: #000;
    --test-color: #0000FF;
    --dark-orange-color: #ee4d2d; 
    --border-color: #f5f5f5;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "JetBrains Mono", monospace;
    scroll-behavior: smooth;
    font-size: 62.5%;
    line-height: 1.6rem;
}

.mr-50 {
    margin-right: 50px;
}


/* Responsive */
.grid{
    width: 1500px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    padding-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.grid__row.product__row{
    margin-left: -10px;
    margin-right: -10px;
}

.grid__column-2{
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
    padding-bottom: 24px;
}

.grid__column-10{
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3334%;
}   

.index__container{
    background-color: #F5F5F5;
    padding: 12px;
}

.category{
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__title{
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.09);  
}

.category__title-icon{
    font-size: 1.4rem;
    margin-right: 4px;
}

.category__list{
    padding-left: 0;
    list-style: none;
}

.category__item{
    margin-top: 10px;
}

.category__item:last-of-type{
    padding-bottom: 10px;
}

.category__item-active .category__item-link{
    color: var(--hover-color)
}

.category__item-active .category__item-link::before{
    position: absolute;
    content: "";
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border: 4px solid;
    border-color: transparent transparent transparent var(--hover-color);

}

.category__item-link{
    display: block;
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    margin-left: 40px;
    transition: right linear 0.1s;
    right: 0;
}

.category__item-link:hover{
    right: -5px;
    color: var(--hover-color)
}

/* Home filter */
.btn{
    min-width: 90px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}

.btn.btn__primary{
    color: var(--white-color);
    background-color: var(--hover-color);
}

.home__filter{
    display: flex;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: var(--white-color);
}

.home__filter-label{
    font-size: 1.5rem;
    color: #555;
    margin-right: 16px;
    padding-top: 9px   ;
}

.btn.home__filter-btn{
    margin-right: 12px;
}

.select__input{
    min-width: 160px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.select__input:hover .select__input-list{
    display: block;
}

.select__input-label{
    font-size: 1.4rem;
}

.select__input-icon{
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0 0 0 8px;
    position: relative;
    top: 1px;
}

.select__input-list{
    position: absolute;
    left: 0;
    right: 0;
    top: 35px;
    border-radius: 2px;
    background-color: #F5F5F5;
    list-style: none;
    padding: 12px 16px;
    display: none;
}

.select__input-link{
    font-size: 1.2rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 6px 0; 
}

.select__input-link:hover{
    color: var(--hover-color);
}

