.input-field{
    display: flex;
    align-items: center;
}

.form-name{
    text-align: left;
    border-bottom: 1px solid #9d9d9d;
    text-transform: uppercase;
    font-weight: bold;
}

.form-label{
    flex: 1;
    font-size: 14px;
    font-weight: bold;
}

.form-control{
    flex: 6;
    font-size: 14px;
}

.form-check-input{
    margin-right: 10px;
}